.mapsvg-marker-label {
    color: #00aade;
}

.mapsvg-popover {
    @media screen and (min-width: 813px) {
        background-color: transparent !important;
        border: none !important;
        box-shadow: none !important;
    }
    
    &::before {
        border-top-color: #818181 !important
    }
    .mapsvg-popover-close {
        top: 6px;
        right: -13px;
    }
    .mapsvg-controller-view-wrap.nano {
        @media screen and (min-width: 813px) {
            border: 1px solid #818181;
            }
    }
    .mapsvg-controller-view-content {
        padding-top: 38px !important;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        background-color: #FFF;
        h4 {
            background-color: #464646;
            color: #FFF;
            padding: 10px 15px;
            position: fixed;
            width: 100%;
            top: 20px;
            @media screen and (max-width: 812px) {
                top: 0;
            }
            left: 0;
        }
        h5 {
            padding: 0;
            > a {
                padding: 10px 15px;
                display: block;
            }
        }
    }
}