/*------------------------------------------------*/
/*------------------[SUBPAGES]--------------------*/
/*------------------------------------------------*/
.et_pb_text_inner {
    h1 {
        font-size: 42px !important;
        padding-bottom: 45px;
    }
    h2 {
        font-size: 34px !important;
        padding-bottom: 15px;
    }
    h3 {
        font-size: 28px !important;
        padding-bottom: 25px;
    }
    h4 {
        font-size: 30px !important;
    }
}

@media only screen and (max-width: 980px) {
    .et_pb_text_inner {
        h1 {
            font-size: 36px !important;
            padding-bottom: 30px;
        }
        h2 {
            font-size: 30px !important;
            padding-bottom: 10px;
        }
        h3 {
            font-size: 22px !important;
            padding-bottom: 18px;
        }
        h4 {
            font-size: 18px !important;
        }
    }
}