/* GEO DIRECTORY */
/* Search */
.chm-search {
	top: 0 !important;

	.geodir-search-container {

		// Global styles
		form.geodir-listing-search.gd-search-bar-style {
			.geodir-loc-bar {
				padding: 0px 0 10px 0;
				border-top: 1px transparent solid;
				border-bottom: 1px transparent solid;
				margin: 0;

				.clearfix.geodir-loc-bar-in {

					.geodir-search {
						.gd-search-input-wrapper {
							margin-left: 0 !important;

							.geodir-search-input-label {
								top: 15px;
								left: 13px;
								font-size: 16px;
							}

							input[type=text],
							.geodir-search-input-label+input.search_text,
							.search_by_post {
								padding: 16px 16px 16px 35px !important;
								padding-left: 35px !important;
								font-size: 16px;
								height: 56px;
								border-radius: 0;
								border-color: #a6a6a6;
							}

							.search_by_post {
								padding-left: 16px !important;
							}

							.snear+.gdlm-location-suggestions {
								top: 55px;
								border-top-color: #a6a6a6;
								font-size: 16px;

								.fas {
									min-width: 16px;
									text-align: center;
									margin-right: 6px;
								}
							}

							.gd_search_text+.gdas-search-suggestions {
								top: 55px;
								border-top-color: #a6a6a6;
							}
						}

						.geodir_submit_search {
							background-color: #174170;
							border: none;
							color: #FFF;
							margin-top: 0;
							margin-bottom: 0;
							height: 56px;
							min-width: 50px;
							border-radius: 0;
						}
					}

				}

				.gd-suggestions-dropdown ul {
					padding: 0;

					li {
						padding: 5px 10px;
					}
				}
			}
		}


		// Branch search
		&.stype-gd_place {
			.gd-search-field-search {
				display: none !important;
			}
		}

		// LO Search 
		&.stype-gd_loan_officer {
			.gd-suggestions-dropdown {
				li {
					font-size: 16px;
					padding-left: 20px !important;

					.gdasac-icon {
						width: 75px;
						border-radius: 50%;
						margin-right: 5px;
					}

					&.gdas-section-title {
						display: none;
					}
				}
			}
		}

	}

	@media all and (max-width: 479px) {
		h2 {
			font-size: 20px;
		}
	}

	.searchBy-lo-name,
	.searchBy-lo-near {
		padding-bottom: 0;
	}
}

body.geodir-no-results #main-content .container {
	max-width: 100%;
	width: 100%;
	padding-top: 0
}

.chm-branch-states {
	#select2-ajax-branch+.select2 {
		background: #f3f3f3;
		border: 1px #e6e6e6 solid;
		padding: 10px;

		.select2-selection--single {
			font-size: 16px;
			height: 51px !important;
			border-radius: 0;
			border-color: #a6a6a6;
			padding: 10px 16px 10px 10px !important;

			.select2-selection__placeholder {
				line-height: 28px !important;
			}

			.select2-selection__arrow {
				top: 0;
				right: 15px;
				height: 73px;

				b {
					border-color: #174170 transparent transparent transparent;
				}
			}
		}
	}

	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
		border-color: transparent transparent #174170 transparent !important;
	}
}

// Search Results page 
body.geodir-page-search,
body.geodir-page-location {
	#main-content {
		background-image: url(https://chmretaildev.wpengine.com/wp-content/uploads/bg-branches.jpg);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: contain;
	}

	.geodir-category-list-view {
		.geodir-image-container ul.geodir-images li {
			border-radius: 50%;
			padding-bottom: 25% !important;
		}

		.gd-list-item-right {
			text-align: center;

			.geodir-entry-title {
				margin-top: 10px;

				a {
					font-size: 18px;
					color: #174170 !important;
				}
			}

			.geodir_post_meta {
				line-height: normal;

				a {
					color: #174170 !important;
				}
			}
		}

	}
}

.geodir-pagination ul.page-numbers li {
	padding: 0;
	overflow: hidden;
	border-color: #a6a6a6 !important;

	.page-numbers {
		color: #174170 !important;
		padding: 17px 20px;
		display: block;

		&.current {
			color: #FFF !important;
			background-color: #174170;
		}
	}
}

.osx.et_mobile_device .overlay .entry-content .et_pb_section .et_pb_row.chm-search {
	top: 0 !important;
}



/* WP Geo Directory Archive Pages */
.geodir-post-meta-container {
	display: inline;
}

.geodir_post_meta_icon {
	i {
		min-width: 16px;
		text-align: center;
		margin-right: 7px;
	}
}

/* WP Geo Directory LO Pages */
body.single-gd_loan_officer {
	.lo-main-image {
		.et_pb_image_wrap {
			max-height: 250px;
			max-width: 250px;
		}
	}

	.lead {
		h3 {
			padding-bottom: 1em;
			line-height: 1.5em;
		}

		p {
			line-height: 2em;
			font-size: 16px;
		}
	}

	.gd-badge-meta.chm-cta {
		display: block;

		a {
			background-color: #174170;
			border-width: 1px !important;
			border-radius: 33px;
			width: 80%;
			transition: all 300ms ease 0ms;
			padding: .3em 1em !important;
			min-height: 46px;
			display: block;
			text-align: center;
			margin: 0 auto;

			&:hover {
				background-color: #00aade !important;
			}

			.gd-badge {
				font-size: 20px;
				font-weight: 500;
				text-align: center;
			}
		}
	}

	.submit {
		cursor: pointer;
		color: #FFF;
		background-color: #174170;
		border-width: 0 !important;
		border-radius: 33px;
		transition: all 300ms ease 0ms;
		padding: .3em 1em !important;
		min-height: 46px;
		display: block;
		text-align: center;
		font-size: 20px;

		&:hover {
			background-color: #00aade !important;
		}

	}

	.lo-single-socials {
		.geodir_post_meta {
			margin-bottom: 10px;
			display: inline-block;
		}

		i {
			font-size: 18px;
			line-height: 36px;
			height: 36px;
			width: 36px;
			background-color: #595959 !important;
			border-radius: 50% 50% 50% 50%;
			color: #FFF
		}

		strong {
			display: none;
		}

	}

	.awards-and-recognitions {


		.widgettitle {
			font-size: 32px;
			color: #174170 !important;
			padding: 1em 0;
			border-top: 1px solid #a6a6a6;
			margin-top: 50px;
		}

		.geodir-image-container.gd-image-cover-n {
			ul.geodir-images {
				li {
					border: 1px solid transparent;
				}
			}
		}
	}

	#reviewsList {
		.gd-tab-list-title {

			.fas,
			a {
				color: #174170;
				font-size: 32px;
			}
		}

		hr {
			display: none
		}

		.comment-respond {
			.logged-in-as a {
				color: #174170;
			}
		}

		.geodir-comments-area {
			.comments-title {
				font-size: 18px;
				padding-top: 5px;
			}

			.commentlist>li {
				padding: 20px 25px;

				.avatar {
					display: none;
				}

				.geodir-review-time {
					color: #2ea3f2
				}
			}
		}
	}


	.geodir-linked-posts {
		.widgettitle {
			font-size: 32px;
			color: #ffffff !important;
			text-align: center;
		}
	}

	.geodir-listings {
		h4 {
			margin-top: 25px;
			font-weight: 600;
			font-size: 24px;
			color: #174170 !important;
			padding: 0;
		}
	}

	.lo-my-team {
		.geodir-category-list-view {
			text-align: center;

			.gd_lo_team {
				.geodir-post-image {
					li {
						border-radius: 50% 50% 50% 50%;
						overflow: hidden;
						border: 2px solid #FFF;
						margin: 0 auto;
						width: 160px;
						height: 160px;
						margin-bottom: 1.5em;
					}

					text-align: center;
				}

				h2 {
					font-size: 23px;
					color: #ffffff !important;
					text-align: center;
					padding-bottom: 10px;
					line-height: 1em;
					font-weight: 500;
				}

				.geodir-field-team_job_title {
					font-size: 15px;
					color: #ffffff !important;
					margin-bottom: 1em;
					text-align: center;
					margin-top: 0;
				}

				.gd-badge-meta-see-full-profile {
					display: block;
					text-align: center;
				}
			}
		}
	}

	.geodir_location_listing {
		.geodir-field-city {
			display: inline;
		}

		.geodir-field-region {
			display: inline;
		}

		.geodir-field-zip {
			display: inline;
		}

		.geodir-post-meta-container {
			font-size: 14px;
			line-height: normal;
		}
	}

	.lo-contact-info {
		.geodir_location_listing {
			.gd_place.has-post-thumbnail {
				padding-top: 0 !important;
			}

			.geodir-post-title {
				h2 {
					a {
						font-size: 18px;
						font-weight: 500;
						margin: 15px 0 10px 0;
						display: block;
					}
				}
			}

			.geodir_post_meta {
				margin-bottom: 0;
			}

			.geodir-field-address {
				font-size: 14px;
				line-height: 22px;
				margin-bottom: 5px;
			}

			.gd-badge-meta-view-branch {
				margin: 0;
				display: block;

				.gd-badge {
					padding: 0
				}
			}
		}

		.contact-info {
			margin-bottom: 10px;

			a {
				color: #174170 !important;
				transition: color 300ms ease 0ms;
			}

		}
	}
}

body.post-type-archive-gd_place {
	.geodir-field-city {
		display: inline;
	}

	.geodir-field-region {
		display: inline;
	}

	.geodir-field-zip {
		display: inline;
	}
}

// Branch Single Post styles
body.single-gd_place {
	.geodir-field-business_hours {
		padding-top: 10px;
	}

	.branch-static-quote {
		.geodir-field-static_featured_quote_content {
			padding: 30px 40px;
			font-size: 20px;
			line-height: 30px;
			color: #174170 !important;
		}

		.geodir-field-static_featured_quote_author {
			padding-bottom: 32px;
			font-weight: 700;
			color: #174170 !important;
		}
	}

	.branch-regional-manager {
		.gd_loan_officer {
			.geodir-post-image {
				li {
					border-radius: 50% 50% 50% 50%;
					overflow: hidden;
					border: 2px solid #FFF;
					margin: 0 auto;
					width: 160px;
					height: 160px;
					margin-bottom: 1.5em;
				}

				text-align: center;
			}

			h2 {
				font-size: 23px;
				text-align: center;
				padding-bottom: 10px;
				line-height: 1em;
				font-weight: 500;
			}

			.geodir-field-job_title,
			.geodir-field-nmls {
				font-size: 15px;
				margin-bottom: 1em;
				text-align: center;
				margin-top: 0;
			}

			.geodir-field-job_title {
				margin-bottom: 0;
			}

			.gd-badge-meta-see-full-profile {
				display: block;
				text-align: center;

				.gd-badge {
					color: #174170 !important;
				}
			}
		}
	}

	.branch-lo-our-team {
		.widgettitle {
			font-size: 32px;
			color: #174170 !important;
			text-align: center;
		}

		.geodir-category-list-view {
			text-align: center;

			.gd_loan_officer {
				.geodir-post-image {
					li {
						border-radius: 50% 50% 50% 50%;
						overflow: hidden;
						border: 2px solid #ffffff;
						margin: 0 auto;
						width: 160px;
						height: 160px;
						margin-bottom: 1.5em;

						img {
							object-position: 0 0;
						}
					}

					text-align: center;
				}

				h2 {
					font-size: 23px;
					color: #174170 !important;
					text-align: center;
					padding-bottom: 10px;
					line-height: 1em;
					font-weight: 500;
				}

				.geodir-field-job_title,
				.geodir-field-nmls {
					font-size: 15px;
					line-height: 1.3em;
					color: #174170 !important;
					margin-bottom: 1em;
					text-align: center;
					margin-top: 0;
				}

				.geodir-field-job_title {
					margin-bottom: 0;
				}

				.gd-badge-meta-see-full-profile {
					display: block;
					text-align: center;
				}

				.gd-badge {
					color: #174170 !important;
				}
			}
		}
	}

	.team-photos {
		.et_pb_column {
			min-height: 0; // Removes white line when no Team Photos are
		}

		.geodir-post-slider {
			padding: 40px 0;

			.widgettitle {
				padding-bottom: 20px;
			}
		}
	}

}

// Main Map Styles
.main_map_wrapper .gm-style {

	// Structural
	.gm-style-iw {
		max-width: 350px !important;
		padding: 12px !important;

		.gm-style-iw-d {
			max-width: 100% !important;
		}

		.gd-bubble {
			max-width: 100% !important;
		}
	}

	// Information
	.geodir-bubble_image {
		li {
			height: 100px;

			img {
				border-radius: 5px !important;
			}
		}
	}

	.geodir-bubble-meta-top {
		.geodir-post-title h4 {
			padding: 5px 0 5px 0 !important;
			position: relative !important;
			background: none !important;

			a {
				color: #3c3c3e !important;
			}
		}

		.geodir-post-address-container {
			font-size: 14px;
			line-height: 22px;
		}
	}

	.geodir-field-business_hours {
		margin-top: 10px;
	}
}

// Page /about/branches/ styling 
body.page-id-3621 {
	.geodir-listings {
		border-bottom: 1px solid #a6a6a6;
		padding-bottom: 10px;
		margin-bottom: 30px;

		.widgettitle {
			color: #174170;
			font-size: 36px;
			margin-top: 25px;
			padding: 0
		}

		.geodir-entry-title {
			color: #174170;
			font-size: 24px;
		}

		.gd-list-item-left {
			display: none !important;
		}

		.geodir_post_meta {
			line-height: normal;
			font-size: 14px;

			a {
				color: #174170;
			}
		}

		.gd-badge-meta-view-branch {
			display: none;
		}
	}
}
